<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav th:fragment="navbar(showLogout)">
    <div class="nav-container">
        <a href="#" class="logo">
            <i data-lucide="map"></i>
            MetaMapa
        </a>
        <div class="nav-links">
            <a href="#inicio">Inicio</a>
            <a href="#nosotros">Nosotros</a>
            <a href="#hechos">Explorar</a>
            <a th:if="${showLogout}" href="/">Cerrar sesión</a>
            <a th:unless="${showLogout}" href="/login">Acceso</a>
        </div>
    </div>
</nav>
</body>
</html>
